tensorflow-rocm
joblib>=1.5.3
numba==0.63.1
numpy==2.3.5
scipy
librosa==0.11.0
llvmlite==0.46.0
fairseq==0.12.2
faiss-cpu==1.7.3
gradio==6.2.0
Cython
pydub>=0.25.1
soundfile>=0.13.1
ffmpeg-python>=0.2.0
tensorboardX
Jinja2>=3.1.6
json5
Markdown
matplotlib>=3.10.8
matplotlib-inline>=0.2.1
praat-parselmouth>=0.4.7
Pillow>=9.1.1
resampy>=0.4.3
scikit-learn
tensorboard
tqdm>=4.67.1
tornado>=6.5.4
Werkzeug>=3.1.4
uc-micro-py>=1.0.3
sympy>=1.14.0
tabulate>=0.9.0
PyYAML>=6.0.3
pyasn1>=0.6.1
pyasn1-modules>=0.4.2
fsspec>=2025.12.0
absl-py>=2.3.1
audioread
uvicorn>=0.40.1
colorama>=0.4.6
pyworld==0.3.5
httpx
onnxruntime
onnxruntime-gpu
torchcrepe==0.0.24
fastapi==0.128.0
ffmpy==1.0.0
python-dotenv>=1.2.0
av
torchfcpe
